body {
  font-family: "Helvetica";
  margin: 0px;
}

.Register-Form {
  background-color: #f2f2f2;
  border: 2px solid grey;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  text-align: left;
}

.login {
  background-color: #f2f2f2;
  border: 2px solid grey;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  text-align: left;
}

/* Css for stock page */

.User_input {
  background-color: #f2f2f2;
  border: 2px solid grey;
  border-radius: 5px;
  position: fixed;
  padding: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display_data {
  background-color: #f2f2f2;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 25px;
  margin: 50px;
}

/* Error messages */

.date_not_valid {
  background-color: #ef4943;
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px;
}

.stock_not_valid {
  background-color: #ef4943;
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px;
}

.login_unsuccessful {
  background-color: #ef4943;
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px;
}

.Login_correct {
  background-color: #17d42d;
  border: 2px solid green;
  border-radius: 5px;
  padding: 5px;
}


/* Input formatting */

input {
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
  width: auto;
}

input:focus{
  background-color: white;
  border: 1px solid black;
}

input[type="submit"] {
  background-color: #0066ff;
  border: none;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #0047b3;
}

input[type="date"]{
  list-style: none;
}
/* All CSS for navigation bar*/

.topnav {
  background-color: #0066ff;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #0047b3;
}

.topnav-right {
  float: right;
}

.Stock_Info {
  margin: 100px;
}


/* Fonts and sizing */

.Header{
  margin: 20px;
}
