body {
  font-family: "Helvetica";
  margin: 0px;
}

.favourites{
  text-align: left;
}

/* Css for stock page */

main{
  padding: 3%;
  width: fit-content;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.user_input{
  margin: 20%;
  background-color: #f2f2f2;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 3%;
  margin: auto;
  width: 40%;
}

.display_data{
  margin: 20%;
  background-color: #f2f2f2;
  border: 2px solid grey;
  border-radius: 5px;
  padding: 3%;
  margin: auto;
  width: 40%;
}

.display_data button{
  background-color: #0066ff;
  border: none;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.display_data button:hover{
  background-color: #0047b3;
}

.compare button{
  background-color: #0066ff;
  border: none;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.compare button:hover{
  background-color: #0047b3;
}

.date_not_valid {
  background-color: #ef4943;
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px;
}

/* Error messages */



.stock_not_valid {
  background-color: #ef4943;
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px;
}

.login_unsuccessful {
  background-color: #ef4943;
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px;
}

.Login_correct {
  background-color: #17d42d;
  border: 2px solid green;
  border-radius: 5px;
  padding: 5px;
}


/* Input formatting */

input {
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
  width: auto;
}

input:focus{
  background-color: white;
  border: 1px solid black;
}

input[type="submit"] {
  background-color: #0066ff;
  border: none;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #0047b3;
}

input[type="date"]{
  list-style: none;
}

input[value="Logout"] {
  border-radius: 0px;
}
/* All CSS for navigation bar*/

.topnav {
  background-color: #0066ff;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #0047b3;
}

.topnav-right {
  float: right;
}

.Stock_Info {
  margin: 100px;
}





/* Fonts and sizing */

.Header{
  margin: 20px;
}

.logout_page a {
  background-color: #0066ff;
  border: none;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  text-decoration: none;
}

.footer a{
  text-decoration: none;
  justify-content: center;
  margin: 20px;
  color: black;
  background-color: grey ;
}