{% extends 'layout.html' %}
{% block content %}


<div class="favourites_page">

    <h2>Favourite Stocks:</h2>
{%if logged_in%}
    <div class="favourites"></div>
    <ol>
        {% for favourite_stock in favourite_stocks %}
            <li><a href="/stocks">{{favourite_stock[0]}}</a></li>
            <br>
        {%endfor%}
    </ol>
    {% if favourite_stocks|length == 0 %}
    <p>Favourites empty. To add a stock to your favoruites page visit the <a href="/stocks"><b>Stock</b></a> page and click add to favourites.</p>
    {%endif%}

    </div>
    </div>
{%endif%}

{%if logged_in == False%}
<p>To access favourites <a href="/login"><b>Login  here.</b></a></p>
{%endif%}
{% endblock %}