{% extends 'layout.html' %}
{% block content %}
<div class="home">
    <h2>Welcome To My Investment Website!</h2>
    <p>This is my investment website. The purpose of this website is to be able to find out the price of a stock listed on the American stock exchange on a specific date as well as be able to track the price change since the company was first listed. To begin finding investments go to the <a href="/stocks"><b>stocks page</b></a>. To see your favourited investments first <a href="/login"><b>login</b></a> and then click on the <a href="/favourites"><b>favourites page</b>.</a></p>
</div>
{% endblock %}