<nav>
{% if logged_in == False or logged_in == None%}
<div class="topnav">
    <a href="/">Home</a>
    <a href="/stocks">Stocks</a>
    <a href="/test">test</a>
    <div class="topnav-right">
        <a href="/login">Login</a></li>
        <a href="/register">Sign Up</a>
    </div>
</div>
{% endif %}

{% if logged_in == True %}
<div class="topnav">
    <a href="/">Home</a>
    <a href="/stocks">Stocks</a>
    <a href="/test">test</a>
    <div class="topnav-right">
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
    </div>
  
</div>
{% endif %}
</nav>
