<!DOCTYPE html>

<html>
<head>
	<title>
	</title>
</head>

<body>
    {% extends 'layout.html' %}{% block content %}


<div class="register_form">
<form method="POST">
    {% if password_pass == False %}
	<br>
	<div class="password_not_valid">
				<p>Password Error: <br> 1. Cannot include special characters <br> 2. Be longer than 12 characters.</p>
	</div>
	{%endif%}

    {%if already_exists == True%}
    <br>
    <div class="password_not_valid">
        <p>You have already created an account. <br> <a href="/login"><b>Login  here.</b></a></p>
    </div>
    {%endif%}
            <br>
    <b>
        <label>Name</label><br>
        <input type="name" name="Name"><br><br>

        <label>Email</label><br>
        <input type="email" name="Email"><br><br>

        <label>Password</label><br>
        <input type="password" name="Password"><br><br>
    </b>

        <input type="submit" value="CREATE USER">
</form>


</div>

{% endblock %}
</body>
</html>