{% extends 'layout.html' %}
{% block content %}


<div class="User_input">

    <b><h2>See Historical Data About A Stock.</h2>
    <form name="find_data" method="POST">

        {% if result == False%}
        <br>
        <div class="stock_not_valid">
            <p>Stock doesn't exist or ticker is incorrect. <br>Please try again</p>
        </div>
        <br>
        <br>
        {%endif%}
    
       
        <label>Search a stock (Use the stocks Ticker):</label>
        <br>
        <input type="Name" name="Stock_name" placeholder="Ticker">
        <br>

        {% if date_valid == False %}
        <div class="date_not_valid">
            <p>Date is not valid.</p>    
        </div>
        {%endif%}

        <br>
        <label>What day would you like to see the data about?</label>
        <br>
        <input type="datetime" name="data_date" placeholder="DD/MM/YYYY">

        <br>
        <br>

        <input type="submit" value="Search Stock">
        <br>
        <br>

    </form>


    {% if date_valid == True%}
    <div class="display_data">

        <p>Comapany: {{stock_name}}</p>
        
        <p>Open: ${{find_data.get("open")}}</p>
        
        <p>High: ${{find_data.get("high")}}</p>

        <p>Low: ${{find_data.get("low")}}</p>

        <p>Close: ${{find_data.get("close")}}</p>

        <button id="add_to_favourites" onclick="add_to_favourites(stock_name)">Add to favourites</button>
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(function() {
            $('#add_to_favourites').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/add_to_favourites',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
    </script>   
    </div>
    {%endif%}



</div>
{% endblock %}