<!DOCTYPE html>

<html>

	{% extends 'layout.html' %} {% block content %}
	

	<div class="user_input">
		<h2>See Historical Data About A Stock.</h2>


		<form id="find_data" method="post" name="find_data">

			{% if not stock_valid%}<br>
			<div class="stock_not_valid">
				<p>Stock doesn't exist or ticker is incorrect. Please try again</p>
			</div>
			<br>
			{%endif%} <label>Search a stock using the ticker: <img src="/static/images/info.png"
				title=
				"Stock must be on the US stock exchange. A ticker is the abbreviation of a stock name e.g. Apple's stock ticker is AAPL."></label><br>
			<input name="Stock_name" placeholder="Ticker" type="name"><br>
			{% if date_valid == False %}
			<br>
			<div class="date_not_valid">
				<p>Date is not valid.</p>
			</div>
			{%endif%}<br>
			<label>What day would you like to see the data about?</label><br>
			<input name="data_date" placeholder="DD/MM/YYYY" type="datetime"><br>
			<br>
			<input type="submit" value="Search Stock"><br>
			<br>
		</form>
	</div>
	<br>
	<br>
	{% if date_valid and stock_valid%}

	<div class="display_data">
		<h2><b>Company:</b> {{stock_name}}</h2>

		<p><b>{{date}}</b></p>

		<div class="grid-container">
			<div class="grid-item">
				<b>High:</b> ${{find_data.get("high")}}</div>
			<div class="grid-item">
				<b>Open:</b> ${{find_data.get("open")}}</div>
				<br>
			<div class="grid-item">
				<b>Low:</b> ${{find_data.get("low")}}</div>
			<div class="grid-item">
				<b>Close:</b> ${{find_data.get("close")}}</div>
		</div>
		
		<br>
		<br>
		<script src="https://www.gstatic.com/charts/loader.js" type=
		"text/javascript">
		</script> 
		<script>
		        google.charts.load('current', {
		          packages: ['corechart', 'line']
		          });
		          google.charts.setOnLoadCallback(drawBasic);
		  
		          function drawBasic() {
		          
		          var data = google.visualization.arrayToDataTable({{info_for_graph|tojson}});
		        


		          var options = {
		            width: '10%',
		            height: '50%',
		            border: 2,
		            hAxis: {
		             title: 'Date',
		               textStyle: {
		                color: 'black',
		                fontSize: 15,
		                fontName: 'Arial',
		                bold: true,
		                italic: false
		              },
		              titleTextStyle: {
		                color: 'black',
		                fontSize: 17,
		                fontName: 'Arial',
		                bold: true,
		                italic: false
		              }
		            },
		            vAxis: {
		              title: 'Price  ($USD)',
		              textStyle: {
		                color: 'black',
		                fontSize: 15,
		                bold: true
		              },
		              titleTextStyle: {
		                color: 'black',
		                fontSize: 17,
		                bold: true,
		                italic: false
		              }
		            },
		      colors: ['green', '# 097138']
		    };
		  
		          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
		  
		          chart.draw(data, options);
		          }
		  
		</script>

		<div id="chart_div">
		</div>


		<h2>About {{stock_name}}</h2>


		<p>{{description[0]}}</p>
		<button id="add_to_favourites" onclick="add_to_favourites(stock_name)">Add to
		favourites</button> 
		<!--> <button id="remove_from_favourites" onclick="remove_from_favourites(stock_name)">Remove from favourites</button> </!-->
		 
		<script>
		      var button = document.getElementById('add_to_favourites');

		      button.addEventListener('click', function() {
		        document.getElementById("add_to_favourites").style.visibility = 'hidden';
		        document.getElementById("remove_from_favourites").style.visibility = 'visible';
		      }, false);
		</script> 
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
		</script> 
		<script type="text/javascript">
		          $(function() {
		          $('# add_to_favourites').on('click', function(e) {
		          e.preventDefault()
		          $.getJSON('/add_to_favourites',
		              function(data) {
		            //do nothing
		          });
		          return false;
		        });
		      });
		</script> 
		<script>
		        var button = document.getElementById('remove_from_favourites');
		        button.addEventListener('click', function() {
		          document.getElementById("remove_from_favourites").style.visibility = 'hidden';
		          document.getElementById("add_to_favourites").style.visibility = 'visible';
		        }, false);
		</script> 
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
		</script> 
		<script type="text/javascript">
		          $(function() {
		          $('# remove_from_favourites').on('click', function(e) {
		          e.preventDefault()
		          $.getJSON('/remove_from_favourites',
		              function(data) {
		            //do nothing
		          });
		          return false;
		        });
		      });
	</script> 
	
    {%if in_fav%} 
		<script>
		        document.getElementById("remove_from_favourites").style.visibility = 'visible';
            document.getElementById("add_to_favourites").style.visibility = 'hidden';
    	</script> 
    {%endif%}

    {%if in_fav != True%} 
		<script>
		    document.getElementById("add_to_favourites").style.visibility = 'visible';
            document.getElementById("remove_from_favourites").style.visibility = 'hidden';
		</script> 
	{%endif%}
	
	{%if logged_in == False%}
		<script>
			document.getElementById("add_to_favourites").style.visibility = 'hidden';
			document.getElementById("remove_from_favourites").style.visibility = 'hidden';
		</script>
	<p>To add a stock to favourites you must be <a href="/login"><b>logged</b></a> in.</p>
	{%endif%}
    <br>
		<br>
	{%endif%} 
	{% endblock %}
	</div>
	
</html>